:root {
    --first-color: #F5EEE6;
    --second-color: #FFF8E3;
    --third-color: #F3D7CA;
    --fourth-color: #E6A4B4;
    --fifth-color: #f5567c;
    --mainbackground-color: #d1758b;
    --sixth-color: #fa9bb2;
}

@keyframes EB {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body {
    /* background-color: var(--fourth-color); */
    background-image: radial-gradient(var(--fourth-color), var(--sixth-color), var(--fourth-color));
    animation-name: EB;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    cursor: url('heart staff.png'), auto;
}

a:hover {
    cursor: url('heart cupcake.png'), auto;
}

h1, p, h2, pre, iframe {
    animation-name: EB;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-timing-function: ease-in;
}

.email {
    animation-name: EB;
    animation-iteration-count: 1;
    animation-duration: 6s;
    animation-timing-function: ease-in;
}

.header1 {
    background-color: var(--mainbackground-color);
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 30px;
    position: sticky;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Protest Strike', sans-serif;
    color: var(--sixth-color);
    font-weight: bold;
    font-size: 22px;
}

.logo {
    width: 100px;
}

@keyframes left2right {
    0% {margin-left: -2500px;}
}

@keyframes right2left {
    0% {margin-right: -2500px;}
}


.MEheading {
    text-align: center;
    margin-top: 250px;
    font-family: 'Rubik Glitch Pop', system-ui;
    font-size: 70px;
    font-weight: bold;
    animation-name: left2right;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

p, pre {
    font-family: 'Dosis', sans-serif;
}

.MEtext {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 250px;
    animation-name: right2left;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.contactH {
    text-align: center;
    font-family: 'Rubik Glitch Pop', system-ui;
    font-size: 40px;
    font-weight: bold;
}

.email {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.footer1 {
    background-color: var(--mainbackground-color);
    margin-left: -8px;
    margin-right: -8px;
    padding: 30px;
    margin-bottom: -10px;
}

@keyframes blackandwhite {
    0% {color: white;}
    50% {color: black;}
    99% {color: white;}
}

a:hover {
    animation-name: blackandwhite;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

a {
    color: var(--sixth-color);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--fourth-color);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--mainbackground-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #824856;
    border-radius: 10px;
  }

  h1 {
    font-family: 'Rubik Glitch Pop', system-ui;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
  }

  .fairfieldbg {
    background-image: url("iuy.png");
    background-size: cover;
    background-repeat: no-repeat;

  }

.fairfieldtext {
    text-align: center;
    font-size: 38px;
    background-color: var(--fourth-color);
    border-radius: 20px;
    margin-left: -15px;
    margin-right: -15px;
    background-image: linear-gradient(var(--fourth-color), var(--sixth-color), var(--fourth-color));
}

.fairfieldtext::selection, h1::selection, h2::selection, h3::selection, pre::selection, p::selection, a::selection {
    color: var(--fourth-color);
    background-color: var(--first-color);
}

h2 {
    font-family: 'Rubik Glitch Pop', system-ui;
    font-weight: bold;
}

#firstbigdiv, #secondbigdiv {
    display: flex;
}

@keyframes extraH {
    0% {margin-top: -300px;}
}

.extraH {
    animation-name: extraH; 
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

.robotics{
    background-color: #eb9bae;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    float: left;
    width: 40%;
    margin-right: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}

.roboticsH {
    padding-right: 260px;
    font-size: 40px;
    margin-left: 220px;
    margin-top: 50px;
}

.roboticsPic, .daPic, .GJPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.da{
    background-color: #eb9bae;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    float: right;
    width: 40%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 200px;
}

.daH, .trackH {
    padding-right: 260px;
    font-size: 40px;
    margin-left: 220px;
    margin-top: 50px;
}

.GJPic {
    width: 300px;
}

.GJMP {
    background-color: #eb9bae;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    float: left;
    width: 40%;
    margin-right: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}

.GJMPH {
    padding-right: 260px;
    font-size: 40px;
    margin-left: 220px;
    margin-top: 50px;
}

.track {
    background-color: #eb9bae;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    float: right;
    width: 40%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 200px;
}

iframe {
    display: inline-block;
    margin-left: 365px;
    margin-right: auto;
    width: 750px;
    height: 1500px;
    margin-bottom: 20px;
    margin-top: 20px;
}

@keyframes myworkH {
    0% {margin-top: -300px;}
} 

.myworkH {
    animation-name: myworkH;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes fairfieldH {
    0% {margin-top: 300px;}
} 

.fairfieldH {
    animation-name: fairfieldH;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

.myworkdiv {
    display: flex;
    justify-content: space-around;
}

.invisible, .odot, .dontrun, .highlight {
    font-size: 50px;
    color: var(--first-color);
}

@keyframes mywork {
    0% {color: black;}
    50% {color: white;}
    99% {color: black;}
}

.invisible:hover, .odot:hover, .dontrun:hover, .highlight:hover {
    animation-name: mywork;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.emptyspace {
    opacity: 0%;
}

.roboticsPic, .daPic, .GJPic {
    border-radius: 20px;
    border-style: solid;
    border-color: var(--fifth-color);
    border-width: 4px;
    box-shadow: 5px 5px var(--first-color);
}